<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Markdown Editor</title>
    <link rel="stylesheet" href="../css/w3.css">
    <link rel="stylesheet" href="../css/markdown.css">
</head>

<body>
    <main class="content">
        <h3 class="w3-center w3-panel">Oops! An error has occured.</h3>
        <p class="w3-center">Please contact the web master.</p>
    </main>
    <footer>
        <p class="w3-center w3-small"><a href="/" class="w3-link w3-text-blue">new</a></p>
        <p class="w3-center w3-small">Markdown Editor &copy; <%= new Date().getFullYear() %></p>
    </footer>

</body>

</html>